.box {
  overflow: hidden;
  text-align: left;
}

.ingredients {
  overflow: auto;
  height: 860px;
}

.typeIngredient {
  min-width: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
}
.nav {
  display: flex;
  list-style-type: none;
}
