.box {
  overflow: hidden;
  text-align: left;
}

.ingredients {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 8px; */
  overflow: auto;
  height: 860px;
}

.typeIngredient {
  min-width: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  /* min-height: 700px; */
}
