.img {
  width: 480px;
  height: 240px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infomation {
  list-style: none;
  display: flex;
  gap: 20px;
  width: 524px;
}

.title {
  /* align-self: flex-start; */
}
